<!-- Base template of the article page. -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  {% if article.is_legacy == True %}
    <meta HTTP-equiv="refresh" content="0; url=../{{ article.redirect_slug }}">
  {% endif %}

    {% include 'favicon.html' %}

  <!-- Primary Meta Tags -->
  <title>{{ settings.blog_name }} - {{article.title}}</title>
  <meta name="author" content="{{ article.author_name }}"/>
  <meta name="title" content="{{ article.title }}">
  <meta name="description" content="{{ article.summary }}"/>
  <meta name="keywords" content="{{ article.categories|join(',') }}"/>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ article.url }}">
  <meta property="og:title" content="{{ article.title }}">
  <meta property="og:description"
        content="{{ article.summary }}">
  <meta property="og:image" content="{{ article.header_image }}">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ article.url }}">
  <meta property="twitter:title" content="{{ article.title }}">
  <meta property="twitter:description"
        content="{{ article.summary }}">
  <meta property="twitter:image" content="{{ article.header_image }}">

  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{settings.blog_root_path}}templates/assets/css/typography.min.css"/>
  <!--Replace with your tailwind.css once created-->
    {% if settings.google_tag_manager.enabled %}
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ settings.google_tag_manager.google_tag_manager_projectid }}');</script>
<!-- End Google Tag Manager -->
  {% endif %}

</head>


<body class="bg-gray-100 font-sans leading-normal tracking-normal">

<nav id="header" class="fixed w-full z-10 top-0">

  <div id="progress" class="h-1 z-20 top-0"
       style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);"></div>

  <div class="container max-w-6xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3">

    <div class="pl-4">
      <a class="text-gray-900 text-base no-underline hover:no-underline font-extrabold text-xl" href="../../">
          {{ settings.blog_name }}
      </a>
    </div>

    <div class="block lg:hidden pr-4">
      <button id="nav-toggle"
              class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-green-500 appearance-none focus:outline-none">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
        </svg>
      </button>
    </div>

    <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-gray-100 z-20"
         id="nav-content">
      <ul class="list-reset lg:flex justify-end flex-1 items-center">
        {% for link in settings.link_menu %}
        <li>
          <a class="inline-block text-gray-600 hover:text-gray-900 hover:underline py-2 px-4"
             href="{{ link.link }}">{{ link.text }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="flex w-full justify-end content-center">
        <a
          class="inline-block text-gray-500 hover:text-green-500 hover:underline text-center h-10 p-2 md:h-auto md:p-4 avatar"
          data-tippy-content="@twitter_handle" href="https://twitter.com/intent/tweet?url=#"
          id="twitter">
          <svg class="fill-current h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <path
              d="M30.063 7.313c-.813 1.125-1.75 2.125-2.875 2.938v.75c0 1.563-.188 3.125-.688 4.625a15.088 15.088 0 0 1-2.063 4.438c-.875 1.438-2 2.688-3.25 3.813a15.015 15.015 0 0 1-4.625 2.563c-1.813.688-3.75 1-5.75 1-3.25 0-6.188-.875-8.875-2.625.438.063.875.125 1.375.125 2.688 0 5.063-.875 7.188-2.5-1.25 0-2.375-.375-3.375-1.125s-1.688-1.688-2.063-2.875c.438.063.813.125 1.125.125.5 0 1-.063 1.5-.25-1.313-.25-2.438-.938-3.313-1.938a5.673 5.673 0 0 1-1.313-3.688v-.063c.813.438 1.688.688 2.625.688a5.228 5.228 0 0 1-1.875-2c-.5-.875-.688-1.813-.688-2.75 0-1.063.25-2.063.75-2.938 1.438 1.75 3.188 3.188 5.25 4.25s4.313 1.688 6.688 1.813a5.579 5.579 0 0 1 1.5-5.438c1.125-1.125 2.5-1.688 4.125-1.688s3.063.625 4.188 1.813a11.48 11.48 0 0 0 3.688-1.375c-.438 1.375-1.313 2.438-2.563 3.188 1.125-.125 2.188-.438 3.313-.875z"></path>
          </svg>
        </a>
        <a
          class="inline-block text-gray-500 hover:text-green-500 hover:underline text-center h-10 p-2 md:h-auto md:p-4 avatar"
          data-tippy-content="#facebook_id" href="https://www.facebook.com/sharer/sharer.php?u=#}"
          id="facebook">
          <svg class="fill-current h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <path d="M19 6h5V0h-5c-3.86 0-7 3.14-7 7v3H8v6h4v16h6V16h5l1-6h-6V7c0-.542.458-1 1-1z"></path>
          </svg>
        </a>
      </div>
  </div>

</nav>

<!--Container-->
<div class="container max-w-4xl mx-auto mt-32 px-8 md:px-0">
  <div class="prose prose lg:prose-xl mx-auto mt-32">
    <!--Title-->
    <h1 id="blog-title">{{article.title}}</h1>
    <!--Author-->
    <div class="flex items-center">
      <img class="w-10 h-10 rounded-full mr-4" src="{{ article.author_image }}" alt="Avatar of Author">
      <div class="flex-1 px-2">
        <div class="font-bold leading-none mb-2">{{ article.author_name }}</div>
        <div class="text-xs md:text-base">on {{ article.publish_date }} · <span id="reading-time"
                class="block md:inline mt-2 md:mt-0"></span> · filed under <span
          class="block md:inline mt-2 md:mt-0">
						{% for category in article.categories %}
            <span class="rounded bg-green-500 text-white px-1 uppercase text-xs whitespace-nowrap md:text-sm">{{ category }}</span>
						{% endfor %}
					</span>
        </div>
      </div>
    </div>
    <!--/Author-->

    <!--Post Content-->
    <!--Lead Para-->
    <div id="content">
      {% include content %}
    </div>
  </div>
  <!--/ Post Content-->

  <!--Divider-->
  <hr class="border-b-1 border-gray-400 mt-12 mb-8 mx-4">

  <!--Next & Prev Links-->
  <div class="font-sans flex justify-between content-center px-4 mb-4">
    <div class="text-left">
      <span class="text-xs md:text-sm font-normal text-gray-600">&lt; Previous Post</span><br>
      <p><a href="{{ article.previous.link }}" class="break-normal text-base md:text-sm text-green-500 font-bold no-underline hover:underline">{{ article.previous.title }}</a></p>
    </div>
    <div class="text-right">
      <span class="text-xs md:text-sm font-normal text-gray-600">Next Post &gt;</span><br>
      <p><a href="{{ article.next.link }}" class="break-normal text-base md:text-sm text-green-500 font-bold no-underline hover:underline">{{ article.next.title }}</a></p>
    </div>
  </div>


  <!--/Next & Prev Links-->

  {% if settings.comments.enabled %}
    <div class="commentbox"></div>

    <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
    <script>commentBox("{{ settings.comments.commentbox_project_id }}")</script>
  {% endif %}

  <!--Subscribe-->
  {% if settings.subscribe.enabled %}
    {% include 'subscription_form.html' %}
  {% endif %}
  <!-- /Subscribe-->
</div>
<!--/container-->

<footer class="bg-gray-900">
  <div class="container max-w-6xl mx-auto flex items-center px-2 py-8">

    <div class="w-full mx-auto flex flex-wrap items-center">
      <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold flex-col">
        <a class="text-gray-900 no-underline hover:text-gray-900 hover:no-underline" href="{{ landing.blog_path }}">
          <span class="text-base text-gray-200">{{ settings.blog_name }}</span>
        </a>
        <a class="text-gray-900 no-underline hover:text-gray-900 hover:no-underline"
           href="https://github.com/LikaloLLC/BlogVi" target="_blank">
          <span class="text-xs text-gray-200">Made with BlogVI</span>
        </a>
      </div>
      <div class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
        <ul class="list-reset flex justify-center flex-1 md:flex-none items-center">
          {% for link in settings.link_menu %}
            <li>
              <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-3"
                 href="{{ link.link }}">{{ link.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>


  </div>
</footer>

<script>
  /* Progress bar */
  //Source: https://alligator.io/js/progress-bar-javascript-css-variables/
  var h = document.documentElement,
    b = document.body,
    st = 'scrollTop',
    sh = 'scrollHeight',
    progress = document.querySelector('#progress'),
    scroll;
  var scrollpos = window.scrollY;
  var header = document.getElementById("header");
  var navcontent = document.getElementById("nav-content");

  document.addEventListener('scroll', function () {

    /*Refresh scroll % width*/
    scroll = (h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight) * 100;
    progress.style.setProperty('--scroll', scroll + '%');

    /*Apply classes for slide in bar*/
    scrollpos = window.scrollY;

    if (scrollpos > 10) {
      header.classList.add("bg-white");
      header.classList.add("shadow");
      navcontent.classList.remove("bg-gray-100");
      navcontent.classList.add("bg-white");
    } else {
      header.classList.remove("bg-white");
      header.classList.remove("shadow");
      navcontent.classList.remove("bg-white");
      navcontent.classList.add("bg-gray-100");

    }

  });


  //Javascript to toggle the menu
  document.getElementById('nav-toggle').onclick = function () {
    document.getElementById("nav-content").classList.toggle("hidden");
  }
</script>
<script>
  /*
    Twitter
    https://twitter.com/share?url=[post-url]&text=[post-title]

    Facebook
    https://www.facebook.com/sharer.php?u=[post-url]

  */
  let twitterURI = document.getElementById('twitter');
  let facebookURI = document.getElementById('facebook');

  let postURI = encodeURI(document.location.href);
  let postTitle = encodeURI(document.getElementById('blog-title').innerText + ":\n")

  facebookURI.setAttribute('href', `https://www.facebook.com/sharer.php?u=${postURI}`);
  twitterURI.setAttribute('href', `https://twitter.com/share?url=${postURI}&text=${postTitle}`);
</script>

<!--Sharect-->
{% if settings.sharect.enabled %}
<script src="https://unpkg.com/sharect@2.0.0/dist/sharect.js"></script>
<script>window["sharectConfig"] = {{ settings.sharect|tojson|safe }}</script>
<script src="{{ settings.blog_root_path }}templates/assets/js/sharect.js"></script>
{% endif %}


<!--Reading time-->
<script src="{{ settings.blog_root_path }}templates/assets/js/reading-time.min.js"></script>
<script>
  const text = []
  let content = [...document.getElementById('content').getElementsByTagName('p')].forEach((elem) => {
    text.push(elem.textContent)
  });
  const stats = readingTime(text.join(" "));

  document.getElementById('reading-time').innerHTML = stats.text;
</script>


  {% if settings.google_tag_manager.enabled %}
      <!-- Google Tag Manager (noscript) -->

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ settings.google_tag_manager.google_tag_manager_projectid }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  {% endif %}

</body>

</html>
