<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Tailwind Starter Template - Minimal Blog: Tailwind Toolbox</title>
  <meta name="author" content="name"/>
  <meta name="description" content="description here"/>
  <meta name="keywords" content="keywords,here"/>
  <link
    href="../css/tailwind.min.css"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="../css/typography.min.css"
  />
  <!--Replace with your tailwind.css once created-->
</head>


<body class="bg-gray-100 font-sans leading-normal tracking-normal">

<nav id="header" class="fixed w-full z-10 top-0">

  <div id="progress" class="h-1 z-20 top-0"
       style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);"></div>

  <div class="container max-w-6xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3">

    <div class="pl-4">
      <a class="text-gray-900 text-base no-underline hover:no-underline font-extrabold text-xl" href="../index.html">
        Minimal Blog
      </a>
    </div>

    <div class="block lg:hidden pr-4">
      <button id="nav-toggle"
              class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-green-500 appearance-none focus:outline-none">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
        </svg>
      </button>
    </div>

    <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-gray-100 z-20"
         id="nav-content">
      <ul class="list-reset lg:flex justify-end flex-1 items-center">
        <li class="mr-3">
          <a class="inline-block py-2 px-4 text-gray-900 font-bold no-underline" href="#">Active</a>
        </li>
        <li class="mr-3">
          <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4"
             href="#">link</a>
        </li>
        <li class="mr-3">
          <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4"
             href="#">link</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--Container-->
<div class="container max-w-4xl mx-auto mt-32 px-8 md:px-0">

  <!-- <img class="rounded" src="https://images.unsplash.com/photo-1556740758-90de374c12ad?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80" alt=""> -->
  <!-- <p class="text-base md:text-sm text-green-500 font-bold">&lt; <a href="/index.html" class="text-base md:text-sm text-green-500 font-bold no-underline hover:underline">BACK TO BLOG</a></p> -->
  <div class="prose prose lg:prose-xl mx-auto mt-32">

    <!--Title-->
    <h1>Welcome to Minimal Blog</h1>
    <p class="lead">Until now, trying to style an article, document, or blog post with Tailwind has been a tedious task
      that required a keen eye for typography and a lot of complex custom CSS.</p>
    <!--Author-->
    <div class="flex items-center">
      <img class="w-10 h-10 rounded-full mr-4" src="https://images.unsplash.com/photo-1618085579940-6e457fb3b752?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=332&q=80" alt="Avatar of Author">
      <div class="flex-1 px-2">
        <div class="font-bold leading-none mb-2">Philippe</div>
        <div class="text-xs md:text-base">on 08.04.2021 23:15:57· filed under <span
          class="block md:inline mt-2 md:mt-0">
						
            <span class="rounded bg-green-500 text-white px-1 uppercase text-xs md:text-sm">Product Updates</span>
						
					</span>
        </div>
      </div>
    </div>
    <!--/Author-->


    <!--Post Content-->


    <!--Lead Para-->
    <h1>typeshed</h1>
<p><a href="https://github.com/python/typeshed/actions?query=workflow%3A%22Check+stubs%22"><img alt="Build status" src="https://github.com/python/typeshed/workflows/Check%20stubs/badge.svg" /></a>
<a href="https://gitter.im/python/typing?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge&amp;utm_content=badge"><img alt="Chat at https://gitter.im/python/typing" src="https://badges.gitter.im/python/typing.svg" /></a>
<a href="https://github.com/python/typeshed/blob/master/CONTRIBUTING.md"><img alt="Pull Requests Welcome" src="https://img.shields.io/badge/pull%20requests-welcome-brightgreen.svg" /></a></p>
<h2>About</h2>
<p>Typeshed contains external type annotations for the Python standard library
and Python builtins, as well as third party packages as contributed by
people external to those projects.</p>
<p>This data can e.g. be used for static analysis, type checking or type inference.</p>
<p>For information on how to use <code>typeshed</code>, read below.  Information for
contributors can be found in <a href="CONTRIBUTING.md">CONTRIBUTING.md</a>.  <strong>Please read
it before submitting pull requests; do not report issues with annotations to
the project the stubs are for, but instead report them here to typeshed.</strong></p>
<p>Typeshed supports Python versions 2.7 and 3.6 and up.</p>
<h2>Using</h2>
<p>If you're just using mypy (or pytype or PyCharm), as opposed to
developing it, you don't need to interact with the typeshed repo at
all: a copy of standard library part of typeshed is bundled with mypy.
And type stubs for third party packages and modules you are using can
be installed from PyPI. For example, if you are using <code>six</code> and <code>requests</code>,
you can install the type stubs using</p>
<pre><code>$ pip install types-six types-requests
</code></pre>
<p>These PyPI packages follow <a href="http://www.python.org/dev/peps/pep-0561/">PEP 561</a>
and are automatically generated by typeshed internal machinery. Also starting
from version 0.900 mypy will provide an option to automatically install missing
type stub packages (if found on PyPI).</p>
<p>PyCharm, pytype etc. work in a similar way, for more details see documentation
for the type-checking tool you are using.</p>
<h2>Format</h2>
<p>Each Python module is represented by a <code>.pyi</code> "stub file".  This is a
syntactically valid Python file, although it usually cannot be run by
Python 3 (since forward references don't require string quotes).  All
the methods are empty.</p>
<p>Python function annotations (<a href="https://www.python.org/dev/peps/pep-3107/">PEP 3107</a>)
are used to describe the signature of each function or method.</p>
<p>See <a href="http://www.python.org/dev/peps/pep-0484/">PEP 484</a> for the exact
syntax of the stub files and <a href="CONTRIBUTING.md">CONTRIBUTING.md</a> for the
coding style used in typeshed.</p>
<h2>Directory structure</h2>
<h3>stdlib</h3>
<p>This contains stubs for modules in the Python standard library -- which
includes pure Python modules, dynamically loaded extension modules,
hard-linked extension modules, and the builtins. <code>VERSIONS</code> file lists
the oldest <em>supported</em> Python version where the module is available.
In the <code>stdlib/@python2</code> subdirectory you can find Python 2 versions of
the stub files that must be kept different for Python 2 and 3, like
<code>builtins.pyi</code>.</p>
<h3>stubs</h3>
<p>Modules that are not shipped with Python but have a type description in Python
go into <code>stubs</code>. Each subdirectory there represents a PyPI distribution, and
contains the following:
* <code>METADATA.toml</code> that specifies oldest version of the source library for
  which the stubs are applicable, supported Python versions (Python 3 defaults
  to <code>True</code>, Python 2 defaults to <code>False</code>), and dependency on other type stub
  packages.
* Stubs (i.e. <code>*.pyi</code> files) for packages and modules that are shipped in the
  source distribution. Similar to standard library, if the Python 2 version of
  the stubs must be kept <em>separate</em>, it can be put in a <code>@python</code> subdirectory.
* (Rarely) some docs specific to a given type stub package in <code>README</code> file.</p>
<p>No other files are allowed in <code>stdlib</code> and <code>stubs</code>. When a third party stub is
modified, an updated version of the corresponding distribution will be
automatically uploaded to PyPI shortly (within few hours).</p>
<p>For more information on directory structure and stub versioning, see
<a href="https://github.com/python/typeshed/blob/master/CONTRIBUTING.md#stub-versioning">the relevant section of CONTRIBUTING.md</a>.</p>
<p>Third-party packages are generally removed from typeshed when one of the
following criteria is met:</p>
<ul>
<li>The upstream package ships a py.typed file for at least 6-12 months, or</li>
<li>the package does not support any of the Python versions supported by
  typeshed.</li>
</ul>
<h2>Contributing</h2>
<p>Please read <a href="CONTRIBUTING.md">CONTRIBUTING.md</a> before submitting pull requests.
If you have questions related to contributing, drop by the <a href="https://gitter.im/python/typing">typing Gitter</a>.</p>
<h2>Running the tests</h2>
<p>The tests are automatically run on every PR and push to
the repo.</p>
<p>There are several tests:
- <code>tests/mypy_test.py</code>
tests typeshed with <a href="https://github.com/python/mypy/">mypy</a>
- <code>tests/pytype_test.py</code> tests typeshed with
<a href="https://github.com/google/pytype/">pytype</a>.
- <code>tests/pyright_test.py</code> tests typeshed with
<a href="https://github.com/microsoft/pyright">pyright</a>.
- <code>tests/mypy_self_check.py</code> checks mypy's code base using this version of
typeshed.
- <code>tests/mypy_test_suite.py</code> runs a subset of mypy's test suite using this version of
typeshed.
- <code>tests/check_consistent.py</code> checks certain files in typeshed remain
consistent with each other.
- <code>tests/stubtest_test.py</code> checks stubs against the objects at runtime.
- <code>flake8</code> enforces a style guide.</p>
<h3>Setup</h3>
<p>Run:
<code>$ python3 -m venv .venv3
$ source .venv3/bin/activate
(.venv3)$ pip install -U pip
(.venv3)$ pip install -r requirements-tests-py3.txt</code>
This will install mypy (you need the latest master branch from GitHub),
typed-ast, flake8 (and plugins), pytype, black and isort.</p>
<p>If you want to run the pyright tests, you need to have
<a href="https://nodejs.org/">Node.js</a> installed.</p>
<h3>mypy_test.py</h3>
<p>This test requires Python 3.6 or higher; Python 3.6.1 or higher is recommended.
Run using:
<code>(.venv3)$ python3 tests/mypy_test.py</code></p>
<p>This test is shallow — it verifies that all stubs can be
imported but doesn't check whether stubs match their implementation
(in the Python standard library or a third-party package). It has an exclude list of
modules that are not tested at all, which also lives in the tests directory.</p>
<p>If you are in the typeshed repo that is submodule of the
mypy repo (so <code>..</code> refers to the mypy repo), there's a shortcut to run
the mypy tests that avoids installing mypy:
<code>bash
$ PYTHONPATH=../.. python3 tests/mypy_test.py</code>
You can restrict mypy tests to a single version by passing <code>-p2</code> or <code>-p3.9</code>:
<code>bash
$ PYTHONPATH=../.. python3 tests/mypy_test.py -p3.9
running mypy --python-version 3.9 --strict-optional # with 342 files</code></p>
<h3>pytype_test.py</h3>
<p>This test requires Python 2.7 and Python 3.6. Pytype will
find these automatically if they're in <code>PATH</code>, but otherwise you must point to
them with the <code>--python27-exe</code> and <code>--python36-exe</code> arguments, respectively.
Run using:
<code>(.venv3)$ python3 tests/pytype_test.py</code></p>
<p>This test works similarly to <code>mypy_test.py</code>, except it uses <code>pytype</code>.</p>
<h3>pyright_test.py</h3>
<p>This test requires Node.js to be installed.</p>
<h3>mypy_self_check.py</h3>
<p>This test requires Python 3.6 or higher; Python 3.6.1 or higher is recommended.
Run using:
<code>(.venv3)$ python3 tests/mypy_self_check.py</code></p>
<p>This test checks mypy's code base using mypy and typeshed code in this repo.</p>
<h3>mypy_test_suite.py</h3>
<p>This test requires Python 3.5 or higher; Python 3.6.1 or higher is recommended.
Run using:
<code>(.venv3)$ python3 tests/mypy_test_suite.py</code></p>
<p>This test runs mypy's own test suite using the typeshed code in your repo. This
will sometimes catch issues with incorrectly typed stubs, but is much slower
than the other tests.</p>
<h3>check_consistent.py</h3>
<p>Run using:
<code>python3 tests/check_consistent.py</code></p>
<h3>stubtest_test.py</h3>
<p>This test requires Python 3.6 or higher.
Run using
<code>(.venv3)$ python3 tests/stubtest_test.py</code></p>
<p>This test compares the stdlib stubs against the objects at runtime. Because of
this, the output depends on which version of Python and on what kind of system
it is run.
Thus the easiest way to run this test is via Github Actions on your fork;
if you run it locally, it'll likely complain about system-specific
differences (in e.g, <code>socket</code>) that the type system cannot capture.
If you need a specific version of Python to repro a CI failure,
<a href="https://github.com/pyenv/pyenv">pyenv</a> can help.</p>
<p>Due to its dynamic nature, you may run into false positives. In this case, you
can add to the whitelists for each affected Python version in
<code>tests/stubtest_whitelists</code>. Please file issues for stubtest false positives
at <a href="https://github.com/python/mypy/issues">mypy</a>.</p>
<p>To run stubtest against third party stubs, it's easiest to use stubtest
directly, with
<code>(.venv3)$ python3 -m mypy.stubtest \
  --custom-typeshed-dir &lt;path-to-typeshed&gt; \
  &lt;third-party-module&gt;</code>
stubtest can also help you find things missing from the stubs.</p>
<h3>flake8</h3>
<p>flake8 requires Python 3.6 or higher. Run using:
<code>(.venv3)$ flake8</code></p>
<p>Note typeshed uses the <code>flake8-pyi</code> and <code>flake8-bugbear</code> plugins.</p>
  </div>
  <!--/ Post Content-->

</div>

<!--Divider-->
<hr class="border-b-1 border-gray-400 mt-12 mb-8 mx-4">

<!--Next & Prev Links-->
<div class="font-sans flex justify-between content-center px-4 mb-4">
  <div class="text-left">
    <span class="text-xs md:text-sm font-normal text-gray-600">&lt; Previous Post</span><br>
    <p><a href="#" class="break-normal text-base md:text-sm text-green-500 font-bold no-underline hover:underline">Blog
      title</a></p>
  </div>
  <div class="text-right">
    <span class="text-xs md:text-sm font-normal text-gray-600">Next Post &gt;</span><br>
    <p><a href="#" class="break-normal text-base md:text-sm text-green-500 font-bold no-underline hover:underline">Blog
      title</a></p>
  </div>
</div>


<!--/Next & Prev Links-->


<!--Subscribe-->
<div class="container font-sans bg-white rounded mt-8 p-4 md:p-24 mb-10 text-center">
  <h2 class="font-bold break-normal text-2xl md:text-4xl">Subscribe to Ghostwind CSS</h2>
  <h3 class="font-bold break-normal font-normal text-gray-600 text-base md:text-xl">Get the latest posts delivered right
    to your inbox</h3>
  <div class="w-full text-center pt-4">
    <form action="#">
      <div class="max-w-xl mx-auto p-1 pr-0 flex flex-wrap items-center">
        <input type="email" placeholder="youremail@example.com"
               class="flex-1 appearance-none rounded shadow p-3 text-gray-600 mr-2 focus:outline-none">
        <button type="submit"
                class="flex-1 mt-4 md:mt-0 block md:inline-block appearance-none bg-green-500 text-white text-base font-semibold tracking-wider uppercase py-4 rounded shadow hover:bg-green-400">
          Subscribe
        </button>
      </div>
    </form>
  </div>
</div>
<!-- /Subscribe-->
</div>
<!--/container-->

<footer class="bg-gray-900">
  <div class="container max-w-6xl mx-auto flex items-center px-2 py-8">

    <div class="w-full mx-auto flex flex-wrap items-center">
      <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
        <a class="text-gray-900 no-underline hover:text-gray-900 hover:no-underline" href="#">
          👻 <span class="text-base text-gray-200"> Ghostwind CSS</span>
        </a>
      </div>
      <div class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
        <ul class="list-reset flex justify-center flex-1 md:flex-none items-center">
          <li>
            <a class="inline-block py-2 px-3 text-white no-underline" href="#">Active</a>
          </li>
          <li>
            <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-3"
               href="#">link</a>
          </li>
          <li>
            <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-3"
               href="#">link</a>
          </li>
          <li>
            <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-3"
               href="#">link</a>
          </li>
        </ul>
      </div>
    </div>


  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.1/dist/lazyload.min.js"></script>
<script>
  const myLazyLoad = new LazyLoad({
    elements_selector:""
  });
</script>
<script>
  /* Progress bar */
  //Source: https://alligator.io/js/progress-bar-javascript-css-variables/
  var h = document.documentElement,
    b = document.body,
    st = 'scrollTop',
    sh = 'scrollHeight',
    progress = document.querySelector('#progress'),
    scroll;
  var scrollpos = window.scrollY;
  var header = document.getElementById("header");
  var navcontent = document.getElementById("nav-content");

  document.addEventListener('scroll', function () {

    /*Refresh scroll % width*/
    scroll = (h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight) * 100;
    progress.style.setProperty('--scroll', scroll + '%');

    /*Apply classes for slide in bar*/
    scrollpos = window.scrollY;

    if (scrollpos > 10) {
      header.classList.add("bg-white");
      header.classList.add("shadow");
      navcontent.classList.remove("bg-gray-100");
      navcontent.classList.add("bg-white");
    } else {
      header.classList.remove("bg-white");
      header.classList.remove("shadow");
      navcontent.classList.remove("bg-white");
      navcontent.classList.add("bg-gray-100");

    }

  });


  //Javascript to toggle the menu
  document.getElementById('nav-toggle').onclick = function () {
    document.getElementById("nav-content").classList.toggle("hidden");
  }
</script>

</body>

</html>