<p>======
Django
======</p>
<p>Django is a high-level Python Web framework that encourages rapid development
and clean, pragmatic design. Thanks for checking it out.</p>
<p>All documentation is in the "<code>docs</code>" directory and online at
https://docs.djangoproject.com/en/stable/. If you're just getting started,
here's how we recommend you read the docs:</p>
<ul>
<li>
<p>First, read <code>docs/intro/install.txt</code> for instructions on installing Django.</p>
</li>
<li>
<p>Next, work through the tutorials in order (<code>docs/intro/tutorial01.txt</code>,
  <code>docs/intro/tutorial02.txt</code>, etc.).</p>
</li>
<li>
<p>If you want to set up an actual deployment server, read
  <code>docs/howto/deployment/index.txt</code> for instructions.</p>
</li>
<li>
<p>You'll probably want to read through the topical guides (in <code>docs/topics</code>)
  next; from there you can jump to the HOWTOs (in <code>docs/howto</code>) for specific
  problems, and check out the reference (<code>docs/ref</code>) for gory details.</p>
</li>
<li>
<p>See <code>docs/README</code> for instructions on building an HTML version of the docs.</p>
</li>
</ul>
<p>Docs are updated rigorously. If you find any problems in the docs, or think
they should be clarified in any way, please take 30 seconds to fill out a
ticket here: https://code.djangoproject.com/newticket</p>
<p>To get more help:</p>
<ul>
<li>
<p>Join the <code>#django</code> channel on irc.freenode.net. Lots of helpful people hang
  out there. See https://freenode.net/kb/answer/chat if you're new to IRC.</p>
</li>
<li>
<p>Join the django-users mailing list, or read the archives, at
  https://groups.google.com/group/django-users.</p>
</li>
</ul>
<p>To contribute to Django:</p>
<ul>
<li>Check out https://docs.djangoproject.com/en/dev/internals/contributing/ for
  information about getting involved.</li>
</ul>
<p>To run Django's test suite:</p>
<ul>
<li>Follow the instructions in the "Unit tests" section of
  <code>docs/internals/contributing/writing-code/unit-tests.txt</code>, published online at
  https://docs.djangoproject.com/en/dev/internals/contributing/writing-code/unit-tests/#running-the-unit-tests</li>
</ul>
<h1>Supporting the Development of Django</h1>
<p>Django's development depends on your contributions. </p>
<p>If you depend on Django, remember to support the Django Software Foundation: https://www.djangoproject.com/fundraising/</p>