<h1>python.org</h1>
<p><a href="https://travis-ci.org/python/pythondotorg"><img alt="Build Status" src="https://travis-ci.org/python/pythondotorg.svg?branch=master" /></a>
<a href="https://pythondotorg.readthedocs.io/?badge=latest"><img alt="Documentation Status" src="https://readthedocs.org/projects/pythondotorg/badge/?version=latest" /></a></p>
<h3>General information</h3>
<p>This is the repository and issue tracker for <a href="https://www.python.org">python.org</a>.
The repository for CPython itself is at https://github.com/python/cpython, and the
issue tracker is at https://bugs.python.org.</p>
<p>Issues related to <a href="https://docs.python.org">Python's documentation</a> can be filed in
https://bugs.python.org.</p>
<h3>Contributing</h3>
<ul>
<li>Source code: https://github.com/python/pythondotorg</li>
<li>Issue tracker: https://github.com/python/pythondotorg/issues</li>
<li>Documentation: https://pythondotorg.readthedocs.org/</li>
<li>Mailing list: <a href="https://mail.python.org/mailman/listinfo/pydotorg-www">pydotorg-www</a></li>
<li>IRC: <code>#pydotorg</code> on Freenode</li>
<li>Staging site: https://staging.python.org/ (<code>master</code> branch)</li>
<li>License: Apache License</li>
</ul>