<h1>Docsie.io</h1>
<h2>Purpose of this repo is to</h2>
<ul>
<li>Host the static portion of docsie.io</li>
<li>Serve as Tech Support and feature request hub for docsie.io</li>
<li>Serve as a live example of a Docsie.io project</li>
</ul>
<p>For any questions please contact support@likalo.com, open a ticket here or ask us on gitter https://gitter.im/docsie/Lobby/</p>
<p>We used to have a support board/forum, but we did not see it being used much and we do not want to maintain unused infrastructure, so we are moving all our free support over to github.</p>
<p>We also had a lot of problems hosting out static content on AWS infrastructure. From cryptic soft 404's on google bot to slow route and lag while connecting to Amazon network. Github pages solves that problems for us, as their network is uber fast.</p>
<p>This made us decide to move https://docsie.io over to github pages.</p>
<p>We started by moving our blog (https://blog.docsie.io) to github pages and saw the issues we were having with AWS resolved. Which made us think that either google deprioritizes crawling pages hosted on AWS, google bot craps out due to AWS
network issues or some other configuration issues with django. Either or, our static site is now going to be open on github pages.</p>
<p>We see it as an alternative to AWS static site hosting and cloudflare. The site is mostly built with docsie and only uses a few
react components for the dynamic functionality.</p>
<p>pybabel init -d locale -l it -i locale/messages.pot
pybabel compile -d locale -l it</p>