<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Tailwind Starter Template - Minimal Blog: Tailwind Toolbox</title>
  <meta name="author" content="name"/>
  <meta name="description" content="description here"/>
  <meta name="keywords" content="keywords,here"/>
  <link
    href="../css/tailwind.min.css"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="../css/typography.min.css"
  />
  <!--Replace with your tailwind.css once created-->
</head>


<body class="bg-gray-100 font-sans leading-normal tracking-normal">

<nav id="header" class="fixed w-full z-10 top-0">

  <div id="progress" class="h-1 z-20 top-0"
       style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);"></div>

  <div class="container max-w-6xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3">

    <div class="pl-4">
      <a class="text-gray-900 text-base no-underline hover:no-underline font-extrabold text-xl" href="../index.html">
        Minimal Blog
      </a>
    </div>

    <div class="block lg:hidden pr-4">
      <button id="nav-toggle"
              class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-green-500 appearance-none focus:outline-none">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
        </svg>
      </button>
    </div>

    <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-gray-100 z-20"
         id="nav-content">
      <ul class="list-reset lg:flex justify-end flex-1 items-center">
        <li class="mr-3">
          <a class="inline-block py-2 px-4 text-gray-900 font-bold no-underline" href="#">Active</a>
        </li>
        <li class="mr-3">
          <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4"
             href="#">link</a>
        </li>
        <li class="mr-3">
          <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4"
             href="#">link</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--Container-->
<div class="container max-w-4xl mx-auto mt-32 px-8 md:px-0">

  <!-- <img class="rounded" src="https://images.unsplash.com/photo-1556740758-90de374c12ad?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80" alt=""> -->
  <!-- <p class="text-base md:text-sm text-green-500 font-bold">&lt; <a href="/index.html" class="text-base md:text-sm text-green-500 font-bold no-underline hover:underline">BACK TO BLOG</a></p> -->
  <div class="prose prose lg:prose-xl mx-auto mt-32">

    <!--Title-->
    <h1>Welcome to Minimal Blog</h1>
    <p class="lead">Until now, trying to style an article, document, or blog post with Tailwind has been a tedious task
      that required a keen eye for typography and a lot of complex custom CSS.</p>
    <!--Author-->
    <div class="flex items-center">
      <img class="w-10 h-10 rounded-full mr-4" src="{{ head_blog.author_image }}" alt="Avatar of Author">
      <div class="flex-1 px-2">
        <div class="font-bold leading-none mb-2">{{ head_blog.author_name }}</div>
        <div class="text-xs md:text-base">on {{ head_blog.timestamp }}· filed under <span
          class="block md:inline mt-2 md:mt-0">
						{% for category in head_blog.categories %}
            <span class="rounded bg-green-500 text-white px-1 uppercase text-xs md:text-sm">{{ category }}</span>
						{% endfor %}
					</span>
        </div>
      </div>
    </div>
    <!--/Author-->


    <!--Post Content-->


    <!--Lead Para-->
    {% include blog %}
  </div>
  <!--/ Post Content-->

</div>

<!--Divider-->
<hr class="border-b-1 border-gray-400 mt-12 mb-8 mx-4">

<!--Next & Prev Links-->
<div class="font-sans flex justify-between content-center px-4 mb-4">
  <div class="text-left">
    <span class="text-xs md:text-sm font-normal text-gray-600">&lt; Previous Post</span><br>
    <p><a href="#" class="break-normal text-base md:text-sm text-green-500 font-bold no-underline hover:underline">Blog
      title</a></p>
  </div>
  <div class="text-right">
    <span class="text-xs md:text-sm font-normal text-gray-600">Next Post &gt;</span><br>
    <p><a href="#" class="break-normal text-base md:text-sm text-green-500 font-bold no-underline hover:underline">Blog
      title</a></p>
  </div>
</div>


<!--/Next & Prev Links-->


<!--Subscribe-->
<div class="container font-sans bg-white rounded mt-8 p-4 md:p-24 mb-10 text-center">
  <h2 class="font-bold break-normal text-2xl md:text-4xl">Subscribe to Ghostwind CSS</h2>
  <h3 class="font-bold break-normal font-normal text-gray-600 text-base md:text-xl">Get the latest posts delivered right
    to your inbox</h3>
  <div class="w-full text-center pt-4">
    <form action="#">
      <div class="max-w-xl mx-auto p-1 pr-0 flex flex-wrap items-center">
        <input type="email" placeholder="youremail@example.com"
               class="flex-1 appearance-none rounded shadow p-3 text-gray-600 mr-2 focus:outline-none">
        <button type="submit"
                class="flex-1 mt-4 md:mt-0 block md:inline-block appearance-none bg-green-500 text-white text-base font-semibold tracking-wider uppercase py-4 rounded shadow hover:bg-green-400">
          Subscribe
        </button>
      </div>
    </form>
  </div>
</div>
<!-- /Subscribe-->
</div>
<!--/container-->

<footer class="bg-gray-900">
  <div class="container max-w-6xl mx-auto flex items-center px-2 py-8">

    <div class="w-full mx-auto flex flex-wrap items-center">
      <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
        <a class="text-gray-900 no-underline hover:text-gray-900 hover:no-underline" href="#">
          👻 <span class="text-base text-gray-200"> Ghostwind CSS</span>
        </a>
      </div>
      <div class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
        <ul class="list-reset flex justify-center flex-1 md:flex-none items-center">
          <li>
            <a class="inline-block py-2 px-3 text-white no-underline" href="#">Active</a>
          </li>
          <li>
            <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-3"
               href="#">link</a>
          </li>
          <li>
            <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-3"
               href="#">link</a>
          </li>
          <li>
            <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-3"
               href="#">link</a>
          </li>
        </ul>
      </div>
    </div>


  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.1/dist/lazyload.min.js"></script>
<script>
  const myLazyLoad = new LazyLoad({
    elements_selector:""
  });
</script>
<script>
  /* Progress bar */
  //Source: https://alligator.io/js/progress-bar-javascript-css-variables/
  var h = document.documentElement,
    b = document.body,
    st = 'scrollTop',
    sh = 'scrollHeight',
    progress = document.querySelector('#progress'),
    scroll;
  var scrollpos = window.scrollY;
  var header = document.getElementById("header");
  var navcontent = document.getElementById("nav-content");

  document.addEventListener('scroll', function () {

    /*Refresh scroll % width*/
    scroll = (h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight) * 100;
    progress.style.setProperty('--scroll', scroll + '%');

    /*Apply classes for slide in bar*/
    scrollpos = window.scrollY;

    if (scrollpos > 10) {
      header.classList.add("bg-white");
      header.classList.add("shadow");
      navcontent.classList.remove("bg-gray-100");
      navcontent.classList.add("bg-white");
    } else {
      header.classList.remove("bg-white");
      header.classList.remove("shadow");
      navcontent.classList.remove("bg-white");
      navcontent.classList.add("bg-gray-100");

    }

  });


  //Javascript to toggle the menu
  document.getElementById('nav-toggle').onclick = function () {
    document.getElementById("nav-content").classList.toggle("hidden");
  }
</script>

</body>

</html>
