<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Docsie.io Blog</title>
    <meta name="author" content="name"/>
    <meta name="description" content="description here"/>
    <meta name="keywords" content="keywords,here"/>
    <link href="./css/tailwind.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="./css/typography.min.css"/>
    <!--Replace with your tailwind.css once created-->
</head>


<body class="bg-gray-100 font-sans leading-normal tracking-normal">

<nav id="header" class="fixed w-full z-10 top-0">

    <div id="progress" class="h-1 z-20 top-0"
         style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);"></div>

    <div class="container max-w-6xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3">

        <div class="pl-4">
            <a class="text-gray-900 text-base no-underline hover:no-underline font-extrabold text-xl" href="#">
                Minimal Blog
            </a>
        </div>

        <div class="block lg:hidden pr-4">
            <button id="nav-toggle"
                    class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-green-500 appearance-none focus:outline-none">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                </svg>
            </button>
        </div>

        <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-gray-100 z-20"
             id="nav-content">
            <ul class="list-reset lg:flex justify-end flex-1 items-center">
                <li class="mr-3">
                    <a class="inline-block py-2 px-4 text-gray-900 font-bold no-underline" href="#">Active</a>
                </li>
                <li class="mr-3">
                    <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4"
                       href="#">link</a>
                </li>
                <li class="mr-3">
                    <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4"
                       href="#">link</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--Container-->
<div class="container max-w-4xl mx-auto mt-32 px-8 md:px-0">

    <!-- <img class="rounded" src="https://images.unsplash.com/photo-1556740758-90de374c12ad?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80" alt=""> -->
    <!-- <p class="text-base md:text-sm text-green-500 font-bold">&lt; <a href="/landing.html" class="text-base md:text-sm text-green-500 font-bold no-underline hover:underline">BACK TO BLOG</a></p> -->
    <div class="prose prose lg:prose-xl mx-auto mt-32">

        <!--Title-->
        <h1>Welcome to Minimal Blog</h1>
        <p class="lead">Until now, trying to style an article, document, or blog post with Tailwind has been a tedious
            task that required a keen eye for typography and a lot of complex custom CSS.</p>
        <!--Author-->
        <div class="flex items-center">
            <img class="w-10 h-10 rounded-full mr-4" src="http://i.pravatar.cc/300" alt="Avatar of Author">
            <div class="flex-1 px-2">
                <div class="font-bold leading-none mb-2">Jo Bloggerson</div>
                <div class="text-xs md:text-base">on Jan 12, 2021 · filed under <span
                        class="block md:inline mt-2 md:mt-0">
						<span class="rounded bg-green-500 text-white px-1 uppercase text-xs md:text-sm">category</span>
						<span class="rounded bg-green-500 text-white px-1 uppercase text-xs md:text-sm">category</span>
						<span class="rounded bg-green-500 text-white px-1 uppercase text-xs md:text-sm">category</span>
					</span>
                </div>
            </div>
        </div>
        <!--/Author-->


        <!--Post Content-->


        <!--Lead Para-->
        <p>
            👋 Welcome fellow <a href="https://www.tailwindcss.com">Tailwind CSS</a> and miminal monochrome blog fan.
            This starter template provides a starting point to create your own minimal monochrome blog using Tailwind
            CSS and vanilla Javascript.
        </p>

        <p>The basic <strong>blog</strong> page layout is <i>available</i> and all using the <u>default</u> Tailwind CSS
            classes (although there are a few hardcoded style tags). If you are going to use this in your project, you
            will want to convert the classes into components.</p>

        <h1>WordPress for Documentation With Docsie</h1>
        <h2>Discover how you can streamline documentation hosting and management on WordPress with Docsie</h2>
        <p>Throughout the customer journey, people search for information and guidance to support their purchasing
            decisions. Before a purchase, customers want to understand how a product works and whether it will meet
            their requirements. During and after a purchase, customers will appreciate documentation detailing how to
            configure and use your service – helping them shape and mold functionality to meet their needs.</p>
        <p>To quote Matshona Dhliwayo – &ldquo;Knowledge is wealth.&rdquo; Modern digital consumers are privileged to
            have a wealth of knowledge at their fingertips, courtesy of the internet. For enterprises that lack the
            capacity or ability to share knowledge on their services – this means they are losing out on a distinct,
            information-driven competitive advantage.</p>
        <p>This is confirmed by a recent 2020 <a
                href="https://www.google.com/url?q=https://www.eptica.com/dcx2020&amp;sa=D&amp;source=editors&amp;ust=1613881901244000&amp;usg=AOvVaw2uxFntNLF_Fydgw83_INMq">Eptica
            study</a>, where 36% of business respondents are failing to answer routine customer queries via digital
            channels. In a best-case scenario, these failures will drive up demand in the customer service department as
            people request information – increasing staff costs and workloads. The worst-case scenario is customer
            abandonment. Customers will find a competitor offering more pre- and post-sale documentation, thus improving
            confidence and the likelihood of following through on a purchase.[a]</p>
        <h3>Answering Routine Queries With a Self-Service Documentation Portal</h3>
        <p>Routine queries are common, low-level questions concerning aspects of your product or service – including
            configuration, billing, and technical support. In most cases, query types will remain consistent, with
            similar questions being answered with equally similar responses from customer service agents. These
            low-level workloads are repeatable and predictable, making them ideal candidates for self-service.</p>
        <p>By implementing a self-service documentation portal, businesses can reduce their customer support workloads.
            This coincides with shifting consumer sentiment. A 2020 <a
                    href="https://www.google.com/url?q=http://connect.creativevirtual.com/contactbabel-report-us-mar2020&amp;sa=D&amp;source=editors&amp;ust=1613881901245000&amp;usg=AOvVaw0hABCQ_Yh3st2xk5UG6Gkq">ContactBabel
                study</a> found that 61% of US respondents identified AI-enabled self-service as &lsquo;very important.&rsquo;
            This demonstrates how customers not only accept contact-free support, they embrace it. In particular,
            millennials want to serve themselves – with 73% of consumers in this <a
                    href="https://www.google.com/url?q=https://www.aspect.com/company/news/press-releases/customer-serve-thy-self-new-study-reveals-millennials-desire-for-self-service-digital-interaction-to-change-customer-service-forever&amp;sa=D&amp;source=editors&amp;ust=1613881901245000&amp;usg=AOvVaw0tJpna4Hb-_RHU5-UpfgxU">Aspect
                study</a> saying they should have the ability to solve problems independently.[b]</p>
        <h3>Using Docsie for WordPress Documentation</h3>
        <p>To help consumers help themselves, implementing a documentation portal is essential. Docsie is a great way to
            manage and share documentation across the entire business – catering to both your loyal customers, and
            passionate internal employees!</p>
        <h3>Docsie Workspaces, Books, and Shelves</h3>
        <p>Within a Docsie workspace, businesses can craft and store documentation to be published in a documentation
            portal. For individual products, Docsie provides a &lsquo;shelf&rsquo; on which related documentation – or
            &lsquo;books&rsquo; – can be organized and managed. Business users can create as many &lsquo;books&rsquo;
            and &lsquo;shelves&rsquo; as they require, making Docsie organizable and highly-scalable. This documentation
            will collectively form a &lsquo;library&rsquo; where staff can add knowledge and customers can use this
            knowledge to learn about your products and services.</p>
        <p><img alt=""
                src="https://lh4.googleusercontent.com/n9gRcT_WYcebDFj_Tfato6eHWlPgZHwBGr95iq2CElG4JUCE81iNdOUW7tvVNs_dek-iF0yvQR48wQvU8YY4yjdpQRPHzPb0i2j8ko8kj-Be-MC7iIJKOW96_3o6Om8Mx3DhMh0fPfRRhdSBrg"/>
        </p>
        <h3>Docsie Document Versioning</h3>
        <p>Docsie also enables document versioning, keeping multiple iterations of a document organized and available
            long-term. This is ideal for development teams. New product releases and API updates can be documented, with
            historical documentation as a backup for customers that continue using older versions of your products and
            services – efficiently catering to a fragmented user base.</p>
        <p><img alt=""
                src="https://lh5.googleusercontent.com/uuseiNmR7LuO69fy_HHtFDgV82Apl9HdAkKWG5nLwjEypq1JnygIBXe5H3jJFbXyAVpuThIFSaILvo52JN6k6BPAFAgvlYyJ0KdyTneXNf_9GCVRwYOOQyH-B6Bpb3TAAW3Hnp2flOClwTkmQA"/>
        </p>
        <h3>Docsie Custom Documentation Hubs</h3>
        <p>Each brand looks and feels different. Docsie enables custom branding across all documentation, integrating
            company logos, color schemes, and typography for consistent publishing on company websites. This allows
            businesses to change branding assets once in Docsie and propagate these changes across all documents on any
            hosting platform – streamlining branding management.</p>
        <p><img alt=""
                src="https://lh5.googleusercontent.com/ri60mdn_v5PPj6s6LY8xiKsaonqxFTJRFgGSCJWC37Ba2KvIaGC-VzEWA9g_YaAP4GDnsKxGh7qc93KUHu7c-fL37nKQT9unh49zEfrNHR5zOVduz6ygc5Vb4S8sByarKwizEAJhwnoxlRCClA"/>
        </p>
        <h3>Docsie Machine Learning Language Translation</h3>
        <p>Global enterprises need to communicate knowledge in multiple languages. Docsie provides further management of
            translated documentation, creating alternative &lsquo;books&rsquo; on each product &lsquo;shelf&rsquo; for
            different languages. These &lsquo;books&rsquo; can be manually transcribed, or businesses can opt for Docsie&rsquo;s
            built-in machine translation feature.</p>
        <p>Machine translation will automatically translate documents into various languages – an important feature
            considering 75% of respondents were more likely to make a purchase if support was provided in their local
            language, according to a 2020 CSA research <a
                    href="https://www.google.com/url?q=https://csa-research.com/More/Media/Press-Releases/ArticleID/655/Survey-of-8-709-Consumers-in-29-Countries-Finds-that-76-Prefer-Purchasing-Products-with-Information-in-their-Own-Language&amp;sa=D&amp;source=editors&amp;ust=1613881901247000&amp;usg=AOvVaw3E8prIxx7ZXYtgfgb8c2mA">study</a>.
        </p>
        <p><img alt=""
                src="https://lh6.googleusercontent.com/uueJRp9klUpPmipjV8bLvuGr37HWcI3DkQGnsgB9ocEq-_z39dQ5D6UoWiAtT59UD6fyEWwFB--BaHqH4nZ1_Vlx3F8WU1dr6HeB7AxiS3RlUJen2rkI-8-W3hePB7a1AeaWuf9t1WBRxacZ3w"/>
        </p>
        <p><img alt=""
                src="https://lh5.googleusercontent.com/2_3zPLWdce8nHPO3dHq-AooU0hgq6aul84FG2XXVi4RHJ7rZsd4bhtlMgEMsKlAUq2d5l2IWNALF7SKopHUGtlhupOkmmCapbr-9E8623YV4VAK0VaNvThQa7DLdep_wr0laL69Z8Ui2wL0XBA"/>
        </p>
        <h3>Docsie Vocally: Visualized Feedback</h3>
        <p>Docsie Vocally allows users to provide feedback on individual &lsquo;books&rsquo; in a documentation portal.
            This helps businesses identify useful and impactful documentation that offers measurable benefits to users.
            It also helps businesses find non-performant documentation, which should be revised and replaced to offer
            more value to customers. Feedback consists of &lsquo;emotional ratings&rsquo; on a 5-point rating scale or
            text messages containing explanations for feedback. Businesses can dive deeper into user experience (UX)
            monitoring with recorded actions on pages for each user, illustrating customer browsing habits in relation
            to their feedback to guide business decisions.[c]</p>
        <p><img alt=""
                src="https://lh5.googleusercontent.com/i_RtBy1MERMp1rvOT8fcKHWMARvcwxcAUutFCl5Ot331P5N7f1K757bSexIy71p7WvDX54ya49H_yWTwV6l3aknS-jwfHcdh___pVJHoStGiSNTulmSEFLsM9wzbjoX3C74l_lXDNNU5J5AfAg"/>
        </p>
        <h3>Getting Started With Docsie on WordPress 5</h3>
        <p>Businesses can use Docsie&rsquo;s functionality to manage their documentation while hosting items on a
            platform of their choice – in this case, WordPress. Publishing to WordPress from within Docsie could not be
            simpler, requiring a single deployment script to push and publish content.</p>
        <h3>Docsie WordPress Deployment Script Creation</h3>
        <p>Open the Book you wish to publish in Docsie.</p>
        <p>In the Settings panel, locate Properties.</p>
        <p><img alt=""
                src="https://lh3.googleusercontent.com/9iZQKZuo_s8bgy1lhfamBQ50s4P7i6VAs8-LBYGEi6Q73TKPUwf3aWJkffSRWM6euuy7LlwuiqUn1J_jUCdfgdMV6Gal5GkefwFMKcSOyTh0XysynDLYlb7BZaFXyk9TMMN_sFsr2mr00PMaMQ"/>
        </p>
        <p>Click (get self-publish script)</p>
        <p><img alt=""
                src="https://lh5.googleusercontent.com/Iv7pn5Y9mDKz0_hLWduKoRmuiRvhi50YfLNMYwT0QPXDgWzmYf1k0CBrs2tNpVL2Hd4hLl5r8XWwNvj8EMZBJAnfpRT277B9HzgBKUPGOJ0QwS2efJLHEEUjbzfYgaN5Il7ATXGqXQcSRYIXrw"/>
        </p>
        <p>Your code will appear ready to copy into WordPress.</p>
        <p><img alt=""
                src="https://lh3.googleusercontent.com/3FmX9ln5p10wM923InhXiWaiDdOSPPEugxujiP5xXqbz4ZO96l3PwWmY9-A9zLZCJM203_xFy04TaEIkXTAlT0-Gyx4zdLAorh-VRc_pF2BNJMWlc6fBWLpY3OdxGGl2zay2-7oB3yazM0E_3w"/>
        </p>
        <p>Additionally, in the Portal view, businesses can select existing documentation from each shelf or an entire
            workspace to publish.</p>
        <p>Included here are Content Filters - Support, Site Content, Terms and Policy, Documentation, Other Pages –
            offering granular control over what gets published to WordPress.</p>
        <p>Businesses can also choose Display Styles – including Version Picker, Language Picker, Section Anchors,
            Footer Navigation – controlling the final formatting output on WordPress.</p>
        <p>Business users simply choose what to publish, defining content filters and display styles through the
            graphical user interface (GUI) – with Docsie generating a final deployment script in the lower Text Area.
            This is known as low-code or codeless.</p>
        <p>Now we can publish to WordPress!</p>
        <h3>Adding the Script to WordPress</h3>
        <p>After logging into the WordPress dashboard, navigate to Pages.</p>
        <p>Select Add new page and create a title, or select an existing page.</p>
        <p><img alt=""
                src="https://lh5.googleusercontent.com/JgC16kvZnJGt-U7WPI4EIHvCUUpYItDD9rcvX5ydSd7a0igi3rOP5PgrAn_KIEBikhZtgjLxdmCzVki7DDeL27_itSMztF8mpytwJPZGu9IMdKozns5-htpWfgztuW-RSg7cL9D53eToppfoUQ"/>
        </p>
        <p>In the WordPress text editor, click the Add button on a website block. Select the Custom HTML option to add
            Docsie’s code script.</p>
        <p><img alt=""
                src="https://lh3.googleusercontent.com/LP-QRSLcfiBq3ol6Ay8P9YSjAxIHI1hF1XhkK24gvp_HvRdxgfpp9mPphb_bXUPyL6lIZ1wmQMX5P6q3uLp4QB1Wsv4aqRlCNU64CoZfRFYOZXzyd8WqL9YFpBSaHs_IfJHjFv2FRgOYXIcx_w"/>
        </p>
        <p>Copy your deployment script in Docsie to add it to the clipboard. Then in WordPress, paste the code string
            into your Custom HTML box. You can also specify a WordPress page name, though Docsie will control titling
            for you automatically in the embedded document.</p>
        <p><img alt=""
                src="https://lh3.googleusercontent.com/8VXc3wL5m6RJFgQSOIvjX6rybpm-kq-T57CCz9RRLi1CShxMD7d4VELxvweCs1UDVvcOZiGLh8WsZrFvIAfK6vzskupPwO95V95eDdSOlhri16LSyj901h6Onvv_ZkGMOW74XGUC-Yet-XTF4A"/>
        </p>
        <p>The final step is clicking Preview next to HTML at the top of the page in the WordPress editor.</p>
        <p><img alt=""
                src="https://lh5.googleusercontent.com/d4aZBseGH_mYcb7TtQEXNu5Qi0FBK9QRGM8Jv7negWwtSW9GIvjWtQSwIR7xTNXHQPD1bLucqdKuEJHBTTBEAfAA3f6Otae1yEZz5MD5Uo-WkR7vV_7CSxVkt4w-kidmYKb8kooxE3Elpl3IUw"/>
        </p>
        <p>Your Docsie documentation will appear seamlessly on the page! You can now click Update in the top right to
            publish to your live webpage. This quick and easy process can be repeated with all of your documentation[d].
            It supports rapid publishing for small and large documentation libraries; simply paste and go!</p>
        <p>NOTE – WordPress 5 will show its own title and other website elements using this method, perfect for
            embedding Docsie documents around other website elements. If you want to load nothing but the Docsie
            document - paste your code string into the HTML footer of your page in the WordPress Code Editor, and leave
            the rest of the page blank.</p>
        <h3>Collaborate With Team Members in Docsie</h3>
        <p>Docsie simplifies cross-channel publishing by improving consistency, ease of use, and scalability for large
            documentation libraries. Docsie also supports collaboration to help your team orchestrate their
            documentation management workflows.</p>
        <h3>Docsie Internal and External Collaborators</h3>
        <p>Documentation needs to be written before it can be published. This could include internal writing staff or
            external collaborators paid per project to write documentation. Docsie caters to all of the above, allowing
            businesses to create Teams and manage people and content simultaneously.</p>
        <p>Internal staff can be added to a Team manually by an Owner or Admin, through group policy using Docsie
            role-based access controls (RBAC), or request access to join a Team group.</p>
        <p>External collaborators can be invited to a Team via email within the Docsie portal, making onboarding for
            contractors fast and efficient.</p>
        <p><img alt=""
                src="https://lh4.googleusercontent.com/DvQxjyqlqyiKiUNyJVSlivWnHUesOL-cXLfMj4WDpGFjsCOI7foG3Gk6FwJxkL90LCWLTJ-u52y2NHjBbWjH4KybDGnsDxL6FT0PmEWilO2Z7g7UK-zkHdwzsqe-9a_GPmb5UfaalBJRLSkANA"/>
        </p>
        <h3>Docsie Team Chat</h3>
        <p>Instead of email or Slack, businesses can use Docsie Team Chat. This centralizes communications related to
            your documentation to improve focus, while facilitating instant messaging (IM) for faster team responses.
            Team members will receive message notifications in the Docsie portal or via email – ensuring nobody misses
            any crucial pieces of information.</p>
        <p><img alt=""
                src="https://lh3.googleusercontent.com/MI5KcEEq_GmUxSp4T6FHiZVcqael1gnHNP2YjxD7IZTKu_lB7VNbe-4hX_YU6aPogqiv1VpoFamXLH85-B1Q81UL0Wg29du7M9fQmK3sWg9Qe8EgHG4h6MKFLMtZKCuN8cS8fQvXOU_RqXGiVA"/>
        </p>
        <h3>Docsie Permissions and User Management</h3>
        <p>Docsie uses a role-based access control (RBAC) framework – sometimes referred to as identity access
            management (IAM) -  to control user permissions for documentation access. Each user can be designated as an
            Owner, Admin, Editor, and Viewer to enable granular control over access, data governance, and security –
            contained under the umbrella of governance risk compliance (GRC).[e]</p>
        <p><img alt=""
                src="https://lh4.googleusercontent.com/DvQxjyqlqyiKiUNyJVSlivWnHUesOL-cXLfMj4WDpGFjsCOI7foG3Gk6FwJxkL90LCWLTJ-u52y2NHjBbWjH4KybDGnsDxL6FT0PmEWilO2Z7g7UK-zkHdwzsqe-9a_GPmb5UfaalBJRLSkANA"/>
        </p>
        <h2>Streamline Documentation Deployment With Docsie!</h2>
        <p>Docsie has a simple mission: making cross-channel documentation management easier for every business.[f]</p>
        <p>Our combination of team collaboration tools and codeless deployment scripts streamline documentation
            workflows. The Docsie Workspace organizes documentation like books on a shelf – creating a dedicated library
            for your business and customers to use. Versioning helps to maintain historical knowledge for fragmented
            user groups. On-the-fly language translation helps you speak your customer&rsquo;s language. This is all
            packaged within customizable branding frameworks, driving publishing consistency using your existing logos,
            color schemes, and typography on every Docsie document. The finishing touch is centralized customer
            feedback, helping you build a better documentation library to improve the overall user experience
            (UX).[g]</p>
        <p>Find out what Docsie is all about! Simply start your free <a
                href="https://www.google.com/url?q=https://app.docsie.io/onboarding/?&amp;sa=D&amp;source=editors&amp;ust=1613881901253000&amp;usg=AOvVaw0wTjvbMm4i6OvHUX7WGRql">onboarding
            process</a> and take Docsie for a test drive today![h]</p>
        <p>[a]This first section is to introduce current problems with documentation, and how it makes customers
            feel/react in a business-sense.</p>
        <p>[b]This is “why” a documentation portal is beneficial to businesses and their customers, highlighting
            customer sentiment and how catering to demand can increase satisfaction – and thus sales. Also shows how
            costs can be reduced without sacrificing quality of customer service, double benefit.</p>
        <p>[c]Since this is mid-funnel:</p>
        <p>Explain what Docsie offers first (this section)</p>
        <p>Customer understands the value proposition, then wants to check how easy it is to do – “this sounds great,
            how do I do it?”</p>
        <p>Explanation of “how” is below.</p>
        <p>[d]This section highlights how easy it is to publish WordPress content from Docsie. Users follow a few short
            steps, the code is automatically generated for them, then they paste and go.</p>
        <p>“Wow that was easy, this will help us manage our documents!&hellip; speaking of ‘us’ – how will the team use
            this?”</p>
        <p>[e]Covering more technical team management functionality.</p>
        <p>Thinking is: people won’t be interested in this until they WANT to try Docsie. Previous sections convince
            them to try, with reassurance here that Docsie can help them manage teams as well as documentation.</p>
        <p>[f]We can adjust this if needed. Wanted to convey Docsie’s mission statement.</p>
        <p>[g]Summary of the entire piece, highlighting Docsie’s benefits and impacts on the business.</p>
        <p>[h]Final call to action with a link to the onboarding registration page.</p>
    </div>
    <!--/ Post Content-->

</div>

<!--Divider-->
<hr class="border-b-1 border-gray-400 mt-12 mb-8 mx-4">

<!--Next & Prev Links-->
<div class="font-sans flex justify-between content-center px-4 mb-4">
    <div class="text-left">
        <span class="text-xs md:text-sm font-normal text-gray-600">&lt; Previous Post</span><br>
        <p><a href="#" class="break-normal text-base md:text-sm text-green-500 font-bold no-underline hover:underline">Blog
            title</a></p>
    </div>
    <div class="text-right">
        <span class="text-xs md:text-sm font-normal text-gray-600">Next Post &gt;</span><br>
        <p><a href="#" class="break-normal text-base md:text-sm text-green-500 font-bold no-underline hover:underline">Blog
            title</a></p>
    </div>
</div>


<!--/Next & Prev Links-->


<!--Subscribe-->
<div class="container font-sans bg-white rounded mt-8 p-4 md:p-24 mb-10 text-center">
    <h2 class="font-bold break-normal text-2xl md:text-4xl">Subscribe to Ghostwind CSS</h2>
    <h3 class="font-bold break-normal font-normal text-gray-600 text-base md:text-xl">Get the latest posts delivered
        right to your inbox</h3>
    <div class="w-full text-center pt-4">
        <form action="#">
            <div class="max-w-xl mx-auto p-1 pr-0 flex flex-wrap items-center">
                <input type="email" placeholder="youremail@example.com"
                       class="flex-1 appearance-none rounded shadow p-3 text-gray-600 mr-2 focus:outline-none">
                <button type="submit"
                        class="flex-1 mt-4 md:mt-0 block md:inline-block appearance-none bg-green-500 text-white text-base font-semibold tracking-wider uppercase py-4 rounded shadow hover:bg-green-400">
                    Subscribe
                </button>
            </div>
        </form>
    </div>
</div>
<!-- /Subscribe-->
</div>
<!--/container-->

<footer class="bg-gray-900">
    <div class="container max-w-6xl mx-auto flex items-center px-2 py-8">

        <div class="w-full mx-auto flex flex-wrap items-center">
            <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
                <a class="text-gray-900 no-underline hover:text-gray-900 hover:no-underline" href="#">
                    👻 <span class="text-base text-gray-200"> Ghostwind CSS</span>
                </a>
            </div>
            <div class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
                <ul class="list-reset flex justify-center flex-1 md:flex-none items-center">
                    <li>
                        <a class="inline-block py-2 px-3 text-white no-underline" href="#">Active</a>
                    </li>
                    <li>
                        <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-3"
                           href="#">link</a>
                    </li>
                    <li>
                        <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-3"
                           href="#">link</a>
                    </li>
                    <li>
                        <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-3"
                           href="#">link</a>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</footer>

<script>
    /* Progress bar */
    //Source: https://alligator.io/js/progress-bar-javascript-css-variables/
    var h = document.documentElement,
        b = document.body,
        st = 'scrollTop',
        sh = 'scrollHeight',
        progress = document.querySelector('#progress'),
        scroll;
    var scrollpos = window.scrollY;
    var header = document.getElementById("header");
    var navcontent = document.getElementById("nav-content");

    document.addEventListener('scroll', function () {

        /*Refresh scroll % width*/
        scroll = (h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight) * 100;
        progress.style.setProperty('--scroll', scroll + '%');

        /*Apply classes for slide in bar*/
        scrollpos = window.scrollY;

        if (scrollpos > 10) {
            header.classList.add("bg-white");
            header.classList.add("shadow");
            navcontent.classList.remove("bg-gray-100");
            navcontent.classList.add("bg-white");
        } else {
            header.classList.remove("bg-white");
            header.classList.remove("shadow");
            navcontent.classList.remove("bg-white");
            navcontent.classList.add("bg-gray-100");

        }

    });


    //Javascript to toggle the menu
    document.getElementById('nav-toggle').onclick = function () {
        document.getElementById("nav-content").classList.toggle("hidden");
    }
</script>

</body>

</html>
